@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}
#menubar {
/*    font-family: "Roboto", serif;*/
    font-size: 14px;
}
#menubar ul {
    height: 50px;
    list-style-type: none;
    background-color: #4c4e5a;
}
#menubar ul li {
    float: left;
}
a {
    color: #aaa;
    background-color: inherit;    /*전 스타일 상속*/
    display: block;
    line-height: 50px;
    padding: 0px 20px;
    text-align: center;
    text-decoration: none;
}
a:hover {
    background-color: rgb(71, 71, 71);
    color: #8fde62;
}
#menubar li ul {
    display: none;
    height: auto;
    z-index: 999;
    position: absolute;
    width: 200px;
}
#menubar li:hover ul {
    display: block;
}
#menubar li li {
    display: block;
    float: none;
    background-color: rgb(109, 109, 109);
}