@charset "UTF-8";
* {
    margin : 0;
    padding : 0;
}
#top {
    position : relative;
}
#top h1 {
    COLOR : #555555;
    position : absolute;
    top : 10px;
    left : 10px;
}
#top ul {
    position : absolute;
    top : 43px;
    left : 5px;
}
#top ul li {
    display : inline;
    list-style-type : none;
    font-size : 7px;
}
.topMenu:link {
    color : #000000;
    text-decoration : none;
}
.topMenu:visited {
    color : #000000;
}
#nav {
    width : 100%;
    background-color : #555555;
    height : 30px;
    position : relative;
    top : 70px;
}
#nav ul {
    position : absolute;
    left : 200px;
}
.navMenu {
    display : inline;
    font-size : 7px;
    color : #FFFFFF;
    font-weight : bold;
    list-style-type : none;
    margin-left : 40px;
}
/*************************************************/