@charset "UTF-8";
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.header {
    text-align: center;
    padding: 30px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}
.column img {
    margin-top: 8px;
}
@media screen and (max-width: 992px) {
    .column {
        flex: 50%;
        max-width: 50%;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
        flex-wrap: wrap;
    }
}